/*
    Input
*/
.comp.input {
    display: flex;
}
.comp.input input {
    background: white;
    border: 1px inset #737373;
    height: 97px;
    width: 599px;
    border-radius: 5px;
    color: #525252;
    text-align: left;
    padding: 25px 21px;
    font-size: 36px;
}
.comp.input input::placeholder {
    color: #B3B3B3;
}
/*
    Like counter
*/
.comp.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 51px;
    color: #901C1C;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    text-align: right;
    height: 100%;
}
/*
    Dropdown
*/

.comp.dropdown .view {
    min-height: 69px;
    max-height: 69px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    line-height: 23px;

}
.comp.dropdown .view .icon {
    position: relative;
    margin: 0 0 0 auto;
    transform: rotateZ(0deg);
    transition: .2s transform ease-in-out;
}
.comp.dropdown .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
}
.comp.dropdown .inner li {
    list-style-type: none;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-top: 1px solid #fff;
}
.comp.dropdown .inner li a {
    color: #fff;
    text-decoration: none;
}
.comp.dropdown {
    overflow: hidden;
    height: 69px;
    position: absolute;
    background: #901C1C;
    display: flex;
    flex-direction: column;
    width: 170px;
    border-radius: 5px;
    color: #fff;
    transition: height .2s ease-in-out;
}
.comp.dropdown:hover {
    height: auto;
}
.comp.dropdown:hover .view .icon {
    transform: rotateZ(180deg);
}

/*
    Button
*/
.comp.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.comp.button:hover {
    background: #DB8876;
}
/*
    Logo
*/
.comp.logo img {
    width: 200px;
}
/*
    Photograph Card
*/
.comp.photograph-card {
    display: flex;
    flex-direction: column;
}
.comp.photograph-card .photo {
    border-radius: 100%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 0 25px 0;
}
.comp.photograph-card .photo img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.comp.photograph-card .name {
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
}
.comp.photograph-card .location {
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
}
.comp.photograph-card .description p {
    margin: 15px 0 0 0;
    color: #525252;
    font-size: 18px;
    line-height: 23px;
}
/*
    Post photo
*/
.comp.post {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.comp.post:hover {
    background-color: #eee;
}
.comp.post:hover .photo::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    z-index: 3;
}
.comp.post .photo {
    position: relative;
    height: 300px;
    width: 350px;
    background-color: #C4C4C4;
    border-radius: 5px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.comp.post .photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.comp.post .container {
    display: flex;
    justify-content: space-between;
}
.comp.post .container .title {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}
/*
    Photograph profile
*/
.comp.photograph-profile {
    display: flex;
    flex-direction: column;
}
.comp.photograph-profile .photo {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
}
.comp.photograph-profile .photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.comp.photograph-profile .name {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.comp.photograph-profile .location {
    color: #901C1C;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}
.comp.photograph-profile .description p {
    color: #000;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
}
.comp.photograph-profile .tarif {
   color: #757575;
   font-size: 9px;
   line-height: 12px;
   text-align: center;
   margin-top: 3px;
}
/*
    Photograph-header
*/
.comp.photograph-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 50px;
    margin: 0 100px;
    height: 300px;
}
.comp.photograph-header .photo {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
}
.comp.photograph-header .photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.comp.photograph-header .informations .name {
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
}
.comp.photograph-header .informations .location {
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
}
.comp.photograph-header .informations .description p {
    margin: 15px 0 0 0;
    color: #525252;
    font-size: 18px;
    line-height: 23px;
}
