/*
    Photographe non trouvé
        id incorrect
        ou problème de requette d'api
*/
.error-page {
    background-color: #fafafa;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.error-page header {
    background-color: #fafafa;
}
.error-page .error-content {
    background-color: #fafafa;
    height: 100%;
    width: calc(100% - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}
.error-page .error-content span {
    color: rgb(122, 125, 131);
    font-size: 5rem;
    font-weight: 800;
}
.error-page .error-content p {
    color: rgb(122, 125, 131);
    font-size: 2rem;
}