
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    padding: 40px;
    height: 313px;
    margin: 0 100px;
    gap: 15px;
}
.banner .informations {
    display: flex;
    flex-direction: column;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
}
.banner .informations .tagline {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-top: 15px;
    color: #525252;
}
.banner .informations .location {
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    color: #901C1C;
}
.banner .informations .name {
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
    text-align: left;
}

.banner .button-wrapper button {
    background-color: #901C1C;
    border: none;
    color: #fff;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.banner .button-wrapper button:hover,
.banner .button-wrapper button:focus {
    background-color: #db8876;
}

.banner .profil .inner {
    height: 233px;
    width: 233px;
}
.banner .profil .inner img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.filter-wrapper {
    margin: 10px 100px;
    display: flex;
    align-items: center;
    gap: 20px
}
.filter-wrapper > p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #000000;
}
.filter-wrapper .dropdown {
    position: relative;
    background: #901C1C;
    color: #fff;
    border-radius: 5px;
    width: 170px;
}
.filter-wrapper .dropdown .view {
    display: flex;
    padding: 20px;
    height: 63px;
    z-index: 16;
}
.filter-wrapper .dropdown .view p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}
.filter-wrapper .dropdown .view .icon {
    margin: 0 0 0 auto;
    transform: rotateZ(180deg);
    transition: transform .5s;
}
.filter-wrapper .dropdown .content {
    position: absolute;
    background: #901C1C;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    transition: .5s height ease-in-out .1s;
    border-radius: 0 0 5px 5px;
    z-index: 15;
    overflow: hidden;
}
.filter-wrapper .dropdown .view::before {
    content: '';
    position: absolute;
    background-color: #901C1C;
    border-radius: 50px 50px 50px 50px;
    height: 100%;
    width: 100%;
    z-index: 50;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: border-radius .2s ease-in-out .6s;
}
.filter-wrapper .dropdown .content .item {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #fff;
    cursor: pointer;
}
.filter-wrapper .dropdown .view:focus {
    z-index: 150;
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.filter-wrapper .dropdown:hover .view .icon,
.filter-wrapper .dropdown:focus-within .view .icon {
    transform: rotateZ(0deg);
}
.filter-wrapper .dropdown:hover .content,
.filter-wrapper .dropdown:focus-within .content {
    height: calc(200% - 22px);
}
.filter-wrapper .dropdown .content .item:focus {
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.filter-wrapper .dropdown:hover .view::before,
.filter-wrapper .dropdown:focus-within .view::before {
    
    border-radius: 50px 50px 0 0;
    transition: border-radius .2s ease-in-out;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
    margin: 0 100px 100px 100px;
    
}
.post {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.post img,
.post video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.post > i {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.post .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.2rem;
    min-height: 2.2rem;
}
.post .inner .likes {
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: bold;
    cursor: pointer;
}
.post .inner .likes i {
    color: #db8876;
    transition: transform .2s cubic-bezier(0.08, 0.82, 0.18, 1.88);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #901C1C;
}
.post .inner .likes i.liked {
    transform: scale(1.3);
    color: #901C1C;
    -webkit-text-fill-color: #901C1C;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
}
.lightbox .content {
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
}
.lightbox .inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
}
.lightbox .inner img,
.lightbox .inner video {
    max-height: 900px;
    max-width: 1050px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.lightbox .navigation {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 900px;
    width: 120px;
    font-size: 3rem;
    color: #901C1C
}
.lightbox .navigation i {
    background-color: #fff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .1s cubic-bezier(0.6, 0.04, 0.98, 0.335), background-color .1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.lightbox .navigation i:hover,
.lightbox .navigation i:focus {
    background-color: #901C1C;
    color: #db8876
}
.lightbox .navigation i.fa-close {
    position: absolute;
    top: 0;
}
.lightbox .title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}
.tarifs {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 376px;
    background-color: #db8876;
    border-radius: 5px 5px 0 0;
    right: 30px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
}

.form-modal {
    background-color: hsla(0, 0%, 77%, 0.4);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-modal form {
    background-color: #db8876;
    display: flex;
    flex-direction: column;
    padding: 25px
}
.form-modal form .top-wrapper {
    display: flex;
}
.form-modal form .top-wrapper .title {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    width: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 50px;

    color: #000000;
}
.form-modal form .top-wrapper .close div {
    background: none;
    border: none;
    border-radius: 50px;
}
.form-modal form .top-wrapper .close div img {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.form-modal form .top-wrapper .close div:hover img {
    background-color: #901C1C;
}
.form-modal form .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form-modal form .inputs label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 27px;
    color: #312E2E;
    mix-blend-mode: normal;
    padding: 5px 0;
}
.form-modal form .inputs input {
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 34px;
    padding: 5px;
}
.form-modal form .inputs textarea {
    border-radius: 2px;
    border: none;
    resize: none;
    height: 85px;
    padding: 5px;
}
.form-modal form .submit div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #901C1C;
    border: none;
    border-radius: 3px;
    color: #fff;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.form-modal form .submit div:hover {
    background-color: #db8876;
    color: #901C1C;
    font-weight: bold;
    border: 2px solid #901C1C;
}

@media only screen and (max-width : 1024px) {
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
        height: auto;
    }
}
@media only screen and (max-width : 768px) {
    .banner {
        margin: 0;
    }
    .tarifs {
        max-width: 376px;
        width: calc(100% - 60px);
        margin: 0 30px;
        right: 0;
    }
    .filter-wrapper {
        margin: 10px 0;
        justify-content: center;
    }
}